# JWT Configuration
SPRING_JWT_SECRET=

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=ticketing
MYSQL_USER=codin
MYSQL_PASSWORD=codinpassword
MYSQL_ROOT_PASSWORD=rootpassword

# JPA Configuration
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=1234
REDIS_DATABASE=0

# Redis Stream Configuration
STOCK_REDIS_STREAM_KEY=event-stock-stream
STOCK_REDIS_STREAM_GROUP=event-stock-group
STOCK_REDIS_STREAM_CONSUMER=event-stock-consumer

# Feign Main API Server URL
USER_CLIENT_URL=http://localhost:8080

# S3 Configuration
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=

# Server Configuration
SERVER_PORT=8081
SSE_SERVER_PORT=8082