<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="unknown-service"/>

    <springProfile name="local, default">
        <appender name="STDOUT_TEXT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan([%X{txId:-NO_TX_ID}]) %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="STDOUT_TEXT"/>
        </root>
    </springProfile>

    <springProfile name="dev, prod">

        <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"service_name":"${serviceName}"}</customFields>
                <fieldNames>
                    <timestamp>@timestamp</timestamp>
                    <version>[ignore]</version>
                    <level>level</level>
                    <thread>thread</thread>
                    <logger>logger</logger>
                    <message>message</message>
                    <stackTrace>stack_trace</stackTrace>
                </fieldNames>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="STDOUT_JSON"/>
        </root>
    </springProfile>

</configuration>